@import url(fonts/CatalishHuntera.css);
@import url(fonts/Inter.css);
@import url(fonts/PlayfairDisplay.css);
@import "_colors";

@mixin absoluteCenter($top: 50%, $left: 50%, $translateX: -50%, $translateY: -50%) {
    position: absolute;
    top: $top;
    left: $left;
    transform: translate($translateX, $translateY);
}

nav {
    .navbar-brand {
        font-family: 'Catalish Huntera';
    }

    .form-control {
        padding: 0 !important;
        border: none !important;
        background-color: transparent !important;
    }

    .form-control:focus,
    .navbar-toggler:focus {
        outline: none;
        box-shadow: none;
    }

    .navbar-toggler {
        padding: 0 !important;
        border: none !important;
    }
}

#titleDiv {
    h1 {
        font-family: 'Catalish Huntera';
    }
}

#carousel {
    .carousel-item {
        .headerShadowDiv {
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, transparent 50%, rgba(0, 0, 0, 0.8));
            pointer-events: none;
        }

        img {
            width: 100%;
            height: 80vh;
            object-fit: cover;
        }

        .carousel-caption {
            text-align: left !important;

            h2 {
                font-family: 'Playfair Display';
                font-size: 4rem;
            }
        }
    }
}

#recipesDiv {
    div.row>div>div.container {
        height: 100%;
        border-radius: 1rem;
        border: 2px solid $gray-300;
    }
    img.recipeImg {
        width: 100%;
        height: 50% !important;
        border-radius: 1rem 1rem 0 0;
        object-fit: cover;
    }

    div.d-flex {
        img.authorImg {
            border-radius: 50%;
        }
        p {
            margin: 0;
        }
    }
}


// Medium devices (tablets, 768px and up)
@media (min-width: 576px) and (max-width: 991.98px) {
    nav {
        .navbar-brand {
            @include absoluteCenter($top: 0, $translateY: 30%);
        }
    }
}

// Works from xsmall to medium
@media (max-width: 991.98px) {
    #carousel {
        .carousel-item {
            img {
                width: 100%;
                height: 100vw;
                object-fit: cover;
            }
        }
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    #carousel {
            .carousel-caption {
                h2 {
                    font-size: 1.8rem !important;
                }

                p {
                    font-size: 0.8rem !important;
                }
            }
    }
}