@font-face {
    font-family: 'Catalish Huntera';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(../../assets/fonts/Catalish_Huntera/Catalish-Huntera.woff2) format('woff2');
}