@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../../assets/fonts/Playfair_Display/PlayfairDisplay-Regular.woff2) format('woff2');
}
@font-face {
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(../../assets/fonts/Playfair_Display/PlayfairDisplay-Italic.woff2) format('woff2');
}
@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(../../assets/fonts/Playfair_Display/PlayfairDisplay-Medium.woff2) format('woff2');
}
@font-face {
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url(../../assets/fonts/Playfair_Display/PlayfairDisplay-MediumItalic.woff2) format('woff2');
}
@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(../../assets/fonts/Playfair_Display/PlayfairDisplay-SemiBold.woff2) format('woff2');
}
@font-face {
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src: url(../../assets/fonts/Playfair_Display/PlayfairDisplay-SemiBoldItalic.woff2) format('woff2');
}
@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../../assets/fonts/Playfair_Display/PlayfairDisplay-Bold.woff2) format('woff2');
}
@font-face {
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url(../../assets/fonts/Playfair_Display/PlayfairDisplay-BoldItalic.woff2) format('woff2');
}
@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(../../assets/fonts/Playfair_Display/PlayfairDisplay-ExtraBold.woff2) format('woff2');
}
@font-face {
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 800;
    font-display: swap;
    src: url(../../assets/fonts/Playfair_Display/PlayfairDisplay-ExtraBoldItalic.woff2) format('woff2');
}
@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(../../assets/fonts/Playfair_Display/PlayfairDisplay-Black.woff2) format('woff2');
}
@font-face {
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 900;
    font-display: swap;
    src: url(../../assets/fonts/Playfair_Display/PlayfairDisplay-BlackItalic.woff2) format('woff2');
}